# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Processed files
*.continueless.*
*.tokens.*

# LaTeX temporary files
**.tex
requirements/requirements.txt

~$stats.xlsx

# Miscellany
.DS_Store

**/*.aux
**/*.bbl
**/*.fdb_latexmk
**/*.fls
**/*.log
