# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Processed files
*.continueless.*
*.tokens.*

# LaTeX temporary files
**.tex
requirements/requirements.txt

# Removed from history tracking, as it is so large,
# that it pushes git-lfs usage into the pay-for-it zone.
stats.xlsx
~$stats.xlsx

# Miscellany
.DS_Store
